h1{
    background-color: rgb(219, 186, 155);
    padding: 1px;
    border: 2px solid rgb(219, 186, 155);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: rgb(168, 96, 48);
    font-size: 40px;
    width: 40%;
    text-align: center;
    margin: 20px auto;
}
ul {
    background-color: rgb(209, 156, 92);
    padding: 10px 20px 10px 20px;
    margin: 1px auto; 
    border: 1px solid;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    
    color: rgb(255, 255, 255);
    font-style:normal;
    list-style-type:none;
    border-color: rgb(209, 156, 92) ;
}
.hipervinculo {
    color: rgb(241, 197, 130);
    text-decoration: none;
    display: inline;
    padding: 10px 50px 50px 100px; 
    text-align:center;
    margin: 10px 10px 10px 10px; 
}
body {
    background-color: rgb(219, 186, 155);
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px auto;
    padding: 0px;
}
h2 {
    font-family: Arial, sans-serif;
    color: rgb(168, 96, 48);
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    display: grid;
    width: 50%;
    border-radius: 10px;
    border: 2px solid rgb(219, 186, 155);
    background-color: rgb(209, 156, 92);
}
span {
    font-family: Arial, sans-serif;
    color: rgb(168, 96, 48);
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
}
nav {
    background-color: rgb(209, 156, 92);
    color: rgb(255, 255, 255);
    padding: 1px;
    text-align:initial;
    border-color: rgb(209, 156, 92);
    display: block;
}
.img1 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
